ID	Name	Hour(hour)	Machine	Seq
0	Arkadiy Presnetsov	14	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1	Viktoriya Gubernieva	14	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
2	Alina Shirantaeva	13	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
3	Ivan Predkov	13	IDSSA4	AGTCTAACCTTTTCCAATCGTAAAAGGTATGCAGGAATAGGAGAAGCACATGGCGCTTGCTAGATTAAGAAC
4	Arkadiy Presnetsov	14	IDSSA2	TGAGTTGAGTTCCTAAAAGAAATTGTACTTCTCCCGCCCCTGTTGTTCCCAGGTTATAGTCCCGTTGT
5	Artem Zhvakin	14	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
6	Anton Velmezov	13	IDSSA1	TTAATACTCTCGACCCTGCTGGG
7	Stepan Chapaev	11	IDSSA5	GAAAATGGTGGGAGTCGGGGGGGGATGTACGCCGCCCGACAGGCGACACCTGTCAGATTCGCATCTACTGCAAGATTGGAAAATAGAGACAACCCTATT
8	Evgeniya Nemenova	17	IDSSA5	TCAACTAATCTGCCGTTCCCCTGAGAGTCCTAGACGTCTAAATAAAGTGGGTACCACCGCTAGACCACAGTGGT
9	Arkadiy Presnetsov	16	IDSSA5	CCCCCCCCCCCC
10	Vasiliy Mryakin	12	IDSSA4	TGCATTTCATGCACCCTACATCCCGTGTGAGTTAGTTATGAACAGTGGGTGCACAGTGAACGGCAGTAACACCTGT
11	Stepan Chapaev	11	IDSSA1	CCCTATATCATTCGCG
12	Anton Velmezov	11	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
13	Oleg Buzinov	17	IDSSA2	GGGGGGGGGGGGGGGGGGGGGG
14	Mariya Alhasova	17	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
15	Evgeniya Nemenova	10	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
16	Ivan Predkov	18	IDSSA2	TGGCTTTGATAGGAGATAGTAAACACAGATCCTTGTGG
17	Albert Pizhanskiy	16	IDSSA3	ATGGACGCTTTGTAAGAGCGTGTACGTCATAGCCCTACGGGGGACCATGTTTCGTGTTGCACCGGAC
18	Mariya Alhasova	10	IDSSA3	CAGTGCAGGAGGTAAAACACGGTTTGGAGCTGTTCCCTTGGATCGAGGGTTTGGTG
19	Albert Pizhanskiy	10	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
20	Stepan Chapaev	14	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
21	Darya Bahterova	12	IDSSA5	ATCCTCGACGTGCAGCACACTTATCCATT
22	Ivan Predkov	18	IDSSA4	GAGGGTGACATTTCGGTGAATCAAAGT
23	Alina Shirantaeva	13	IDSSA3	CCGAGTTAGAGCCTCA
24	Alina Shirantaeva	12	IDSSA5	GAAAAGCTTTGTTACTC
25	Artem Zhvakin	14	IDSSA5	CATCCAGTCGCC
26	Evgeniya Nemenova	17	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
27	Vitaliy Protaskin	11	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
28	Alina Shirantaeva	10	IDSSA5	CGCGTCTCTGGTAGGGAAGAAGCAATCAGGGGGGCAGC
29	Stepan Chapaev	14	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
30	Ivan Predkov	14	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
