ID	Name	Hour(hour)	Machine	Seq
0	Mariya Alhasova	12	IDSSA1	CAAGCTCATAGAACCGGGGATTTGGACGATCACGGCACTAGTGAGTTGCGTGACCGCCAACTGTAAAGG
1	Albert Pizhanskiy	18	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
2	Viktoriya Gubernieva	14	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
3	Ivan Predkov	17	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
4	Vasiliy Mryakin	16	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
5	Anton Velmezov	13	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTT
6	Vitaliy Protaskin	18	IDSSA4	ATGGTTAAAAT
7	Arkadiy Presnetsov	12	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
8	Alina Shirantaeva	10	IDSSA3	AATTGATCTACAGGGCCGTCGACGACGTTCACCCGGGGTT
9	Oleg Buzinov	17	IDSSA2	ATAGTCCTGAGCGCAGTTTGTACATGA
10	Artem Zhvakin	18	IDSSA1	TGTTACGAGTGCGACCTACCGCCAATAACACGGCTGTGGAAGCTCGCGGAGTCTGTCTATATAGATACAACGGGGGGGGTAGATGCTTGCCGT
11	Albert Pizhanskiy	13	IDSSA5	CCCAGGTTACCATTTCGCCCCC
12	Ivan Predkov	14	IDSSA4	AAAAAAAAAAAAAAA
13	Mariya Alhasova	16	IDSSA3	GTTCGAATTATTGAGTGTTTTTGTGGTGGCTGAGTCTGGCGGGGAGTGGCAACAACGCGCCCCCATGCTACACGTTCCGACTTAAATGCAATCATAAG
14	Anton Velmezov	18	IDSSA2	CTAATATGCTATTGTGAAGGTTCGTGCCACTAT
15	Darya Bahterova	14	IDSSA5	CTTCCTTGGGAAATGATGCA
16	Vitaliy Protaskin	13	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
17	Anton Velmezov	18	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
18	Evgeniya Nemenova	17	IDSSA5	GGCTCATAGACTACTTGATGAAC
19	Alina Shirantaeva	10	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
20	Albert Pizhanskiy	11	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
21	Vitaliy Protaskin	14	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
22	Stepan Chapaev	18	IDSSA5	TTTTTTTTTTTTTTTTTT
23	Arkadiy Presnetsov	15	IDSSA5	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
24	Stepan Chapaev	18	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
25	Alina Shirantaeva	12	IDSSA4	AAAAAAAAAAAAAA
26	Vasiliy Mryakin	14	IDSSA2	GCGCCTCTGATCTTTTACGTTTCCATTTCCAGCTGGACTAGCCGTTAACG
27	Alina Shirantaeva	14	IDSSA1	ACAACTTTACTTTTTTGAAGAAGACTCGATTACGGACCA
28	Alina Shirantaeva	11	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCC
29	Stepan Chapaev	18	IDSSA1	CCCCCAACAGCAGGCCCTCTTTGTCTTTCAACGGATTCTCGTGTTAGGCGTTTTGTATCCT
30	Artem Zhvakin	11	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
31	Darya Bahterova	10	IDSSA2	GCGAGGCTCTAATGCTTGACAGTCTGTAGCCCAAACCGAACGTTCCTTGCTTAGTGACGCCGCGGGAGATCTTAGCTCGCAGTTTCTAATGC
32	Artem Zhvakin	12	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
33	Artem Zhvakin	13	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
34	Anton Velmezov	14	IDSSA5	CCCTTCCCCCTATTAC
35	Artem Zhvakin	10	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
36	Lybov Radykova	11	IDSSA4	TTTTTCCTTATCGGATCGTTAT
37	Mariya Alhasova	12	IDSSA2	TTTTTTTTTTTTTTTTT
38	Lybov Radykova	13	IDSSA4	TAGAACTTAG
39	Darya Bahterova	17	IDSSA4	CTTGGGGTATGGGTATGGCACGGCCCTCCCTTTCGAAACCGTAA
40	Darya Bahterova	11	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
41	Albert Pizhanskiy	11	IDSSA4	GGTAGGCTTTACGGAGTTTCAAAAAATGCGCAC
42	Vitaliy Protaskin	11	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCC
43	Alina Shirantaeva	16	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
44	Stepan Chapaev	11	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
45	Artem Zhvakin	14	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
46	Mariya Alhasova	12	IDSSA4	AGTACTCAAGGTCGCCTATGATCCGAGCGTTCTGCGTCACAAAGATCAGGATATATA
47	Arkadiy Presnetsov	14	IDSSA1	CCCCCCCCCCC
48	Lybov Radykova	12	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCC
49	Arkadiy Presnetsov	11	IDSSA5	ACAGCGTCCCTGGCAACTAGACTACACCTGCAACTCATGGTACTGCATCAAAGATG
50	Darya Bahterova	16	IDSSA1	AAAAAAAAAAAAAA
51	Mariya Alhasova	14	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
52	Stepan Chapaev	14	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAA
53	Oleg Buzinov	17	IDSSA4	GCATCGGACTTACAGCAGGGCTGCATAATAACG
54	Stepan Chapaev	18	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
55	Arkadiy Presnetsov	18	IDSSA2	GAGTAAACAACTATGCTGGTCTGCCCACGGTAAGCGACGTTCCCAGGGGGAAGAGTTGCTAATCCTTGTTC
56	Arkadiy Presnetsov	10	IDSSA1	TTTCCGCCGAACGAGCGACAAGGTTTACCCCCGAGTCACAGAAAAAAGGTACTCAT
57	Evgeniya Nemenova	16	IDSSA1	TTGCTGACAAAGCTTCCATTCGTATATATGTTAACCTCGGGAATCATGTTGAAACGCCTTCTCCA
58	Albert Pizhanskiy	18	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
59	Evgeniya Nemenova	12	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
60	Evgeniya Nemenova	12	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
61	Vitaliy Protaskin	13	IDSSA1	ACGTGGTGCGGTCATGTAGATGGGCGACAAATCAGCTTCATGCCGGTGTTCGGGTTGGACCACGAGGGGATAGCAATTAAGA
62	Anton Velmezov	15	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
63	Alina Shirantaeva	17	IDSSA3	AAATCGCCGCCAACCCCTCTCCTTGTTCGAGCTCTTTGGGCTCAACAGTAATCCG
64	Ivan Predkov	15	IDSSA3	AAAAAAAAAAAAA
65	Mariya Alhasova	16	IDSSA3	ACCTCCATCGGGCTTGTGCCTGTAAACCGCCT
66	Vasiliy Mryakin	17	IDSSA1	CTCACAGACCTGGTTGTCAATATGGCGCGTCACTAACTAGTGCGTCTTACGAGCG
67	Oleg Buzinov	12	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
68	Darya Bahterova	10	IDSSA5	ACCTGACACCATATCTGTACGATGGCTTCGAGACACTTGTCCTGATGCTCGTTTCCGATTAGCG
69	Evgeniya Nemenova	18	IDSSA3	AACGAAGAACCG
70	Mariya Alhasova	12	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
71	Mariya Alhasova	12	IDSSA5	TAGAGCGAATGTAGTAGCTCAGATAAGGTAACGATATGGCCACGGATATCTGGGGACATCAAGCTTCAACAATCAACCTATACG
72	Vitaliy Protaskin	15	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGG
73	Alina Shirantaeva	15	IDSSA4	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
74	Darya Bahterova	12	IDSSA3	AAATGAATGCAGCCTACAACCCTACTGATTTCACCCGACTGTACTGTGGCAACTCAGCATCTGAGCCACTGGTGTAAGGAGA
75	Evgeniya Nemenova	14	IDSSA5	AAAAAAAAAAAAAAAAAAAA
76	Vasiliy Mryakin	13	IDSSA3	TCATGGGGTGAATGAGGCTAGCTAAGACCCAGTACGCGTT
77	Anton Velmezov	12	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
78	Artem Zhvakin	11	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
79	Darya Bahterova	16	IDSSA1	GCTGGCGTACTCA
80	Oleg Buzinov	18	IDSSA4	ACCTTAAGGAGATGCCGGATAGGCTGTCTG
81	Vasiliy Mryakin	18	IDSSA3	GCACGCGCGCCATCAGCCGCAGATACGGTACCCGACCATGTGACCTTTTCACAAAACTGATGTTCTTATCCTA
82	Evgeniya Nemenova	18	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
83	Mariya Alhasova	16	IDSSA3	TAAAGGTGGACCGTATGAGCGAAACATGACTAGACACTACATCGCGTAACTCCCATCCGGTAGATTTCAACAGGAG
84	Mariya Alhasova	12	IDSSA3	CGCTGTGCGAACTCTCCTT
85	Mariya Alhasova	12	IDSSA4	GGGATCGACGCGGCTGGTTCGAAATCCGCACAACGAGACGGCGAACAGACTCCGCTGGCTTCGATAGCTCACGAAGTATACCTAGAAGATTAAAGAA
86	Arkadiy Presnetsov	17	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
87	Arkadiy Presnetsov	13	IDSSA2	CCCCCCCCCCCCCCCC
88	Vitaliy Protaskin	13	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
89	Lybov Radykova	13	IDSSA3	AAATTAGTTTCAGCGTCGTC
90	Evgeniya Nemenova	12	IDSSA5	ACCATTTCTGTTCCGTACTTACAACAAGTGG
91	Vasiliy Mryakin	14	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
92	Ivan Predkov	10	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
93	Oleg Buzinov	11	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
94	Lybov Radykova	10	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
95	Vitaliy Protaskin	15	IDSSA3	CGTCTGTGACTGACCAGTAGCGCGGATCGCTGAACACAGACGAGAGAGGGGGGAGGGCCTTTGCAATTAATATCCTT
96	Vitaliy Protaskin	13	IDSSA2	AGCTGCCTCTTGCCCGCGTTCCATCGTACTTAGATT
97	Oleg Buzinov	10	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
