ID	Name	Hour(hour)	Machine	Seq
0	Artem Zhvakin	10	IDSSA3	CCCCCCCCCCCCCCCCCCCCCC
1	Albert Pizhanskiy	13	IDSSA2	GCGTGTTGCACTCGCGCCAAACAAGACAGGAAGGATCATTATAACGTCAAGACTGGGTCATAGCGTCTGGAGAGTTCGGTAAGTGTAAACGGCCG
2	Evgeniya Nemenova	17	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
3	Evgeniya Nemenova	10	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
4	Darya Bahterova	17	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGG
5	Vasiliy Mryakin	16	IDSSA3	CGCGCGTTCAAGTTAAACTTGTGTCCTGACTCACACCCGTAGGTGCCCTTGCGGCTGTTTTGGCACT
6	Artem Zhvakin	10	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
7	Alina Shirantaeva	16	IDSSA5	AGACACCTCAGTTAGCTCCGCT
