ID	Name	Hour(hour)	Machine	Seq
0	Evgeniya Nemenova	10	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
1	Vitaliy Protaskin	12	IDSSA3	GATTTGACACCG
2	Vitaliy Protaskin	15	IDSSA3	CGACCAGTGCTGTGGTCGTCTCCTCCTTAGACCCCACGACGAAGAATACGGGACAGTTCCTGTTTTGTT
3	Arkadiy Presnetsov	14	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
4	Viktoriya Gubernieva	14	IDSSA3	GAATGAGAAGGCGATACCCGACTATTCCATATCCTCTGTCTCAGCCGCGTTATCAATCGCTAGGAACGGCTGCACCGGATAAATCAGCGTTCCTG
5	Stepan Chapaev	15	IDSSA1	GAGCATGGAGCACATCTATTCTCGCCT
6	Anton Velmezov	13	IDSSA1	TTTTTTTTTTTTTTTTTTTTTTTTTTT
7	Oleg Buzinov	16	IDSSA5	ACTTTCAGAGGGAGAAGG
8	Stepan Chapaev	11	IDSSA1	GTCACCGACGTCACATTCAGCGGGTGTCCTTTATCGTTAGGAGGTCGGCGTCCCACCAAAAGGCCATA
9	Arkadiy Presnetsov	17	IDSSA4	AAACCGTCTGTCTGTAGTATTCTAGGCTCGGTGATCAGTACCACTCGCTGCAAAGCCAAAGACTGAC
10	Oleg Buzinov	18	IDSSA3	TTTTTTTTTTTTTTT
11	Mariya Alhasova	14	IDSSA3	ACATTTCCCACAAACCAGCGTAGTTTCAAGTATCTCAG
12	Oleg Buzinov	13	IDSSA3	TTTTTTTTTTTTTTTTT
13	Evgeniya Nemenova	13	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
14	Ivan Predkov	18	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
15	Albert Pizhanskiy	10	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
16	Oleg Buzinov	13	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
17	Alina Shirantaeva	10	IDSSA5	ATGTTGAGCCCTA
18	Darya Bahterova	16	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
19	Ivan Predkov	15	IDSSA5	GGGGGGGGGGGGGGGGGGG
20	Evgeniya Nemenova	15	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
21	Albert Pizhanskiy	13	IDSSA4	CGGAAACCGATGACTGTGGATGATCGGGACCTTTAAGCTATAGAGAACCGGTCCCATC
22	Vitaliy Protaskin	13	IDSSA4	GAGGGGATAACTTCAGTGTGGA
23	Oleg Buzinov	15	IDSSA1	AGACAGAGCGTTTCACTACGTGTGTTCTCGACAGAAGCGTGAAGCATGACCGACTAGGC
24	Artem Zhvakin	14	IDSSA2	GTGCCAGATGCATGATCCGGGATATTAGCAACCTGTTCATGCGACCTCATTAGATCTCAACCTGATAGCGCCGGCGAAGCCATGGTGCGGACCAC
25	Ivan Predkov	10	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
26	Evgeniya Nemenova	13	IDSSA5	CAGGTCATCGAATTAC
27	Albert Pizhanskiy	15	IDSSA2	ATCTCTCCAAGTGACTGATTCGTCCGTATTTTCCTCCCCTCTTTCC
28	Arkadiy Presnetsov	18	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
29	Vasiliy Mryakin	16	IDSSA4	TATGTCGGTTTC
30	Vasiliy Mryakin	17	IDSSA1	AAAAAAAAAAAAAAA
