ID	Name	Hour(hour)	Machine	Seq
0	Oleg Buzinov	10	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
1	Anton Velmezov	17	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
2	Alina Shirantaeva	10	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
3	Darya Bahterova	10	IDSSA1	AGCTGACTAACTGCAAGATCGGGCGCCAGTAGTGCTCTTGACGCCAGTCGGTTAACTAGGCTGAGCAGTTTCGGAACCGGAGAGAAGTGGACACTGCATA
4	Lybov Radykova	18	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
5	Anton Velmezov	17	IDSSA2	AAACCTATCTCGTTGACCCTAGGGGCGACAAAGAGAAGCACAACAGTCGAATGAAGTTAGCTTTGGCCGGGTTTGCGTTTGCTGGCT
6	Anton Velmezov	11	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
7	Lybov Radykova	12	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
8	Vitaliy Protaskin	10	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
9	Albert Pizhanskiy	11	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
10	Darya Bahterova	12	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
11	Alina Shirantaeva	18	IDSSA4	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
12	Arkadiy Presnetsov	13	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
13	Vitaliy Protaskin	16	IDSSA4	CCCCCCCCCC
14	Artem Zhvakin	12	IDSSA4	GTACTTGCATCTATTAGGGATGAAGCTAGTCAGGAGTCTAGCCGCGCGGGAAAGGATTGTACGATCCCTTTGGGGCCTTAGGTACGGCAGGCACTTCTAC
15	Alina Shirantaeva	17	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
16	Anton Velmezov	15	IDSSA5	AGAGGATCGGTAGGGTACGAAGTTTTCAAGCCTCTCTCGGACTGCCGGGTCGCATAGGAGCGGACCTTCGGGAAGCCAAAACCCGGAGCGACGTGA
17	Anton Velmezov	13	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
18	Anton Velmezov	17	IDSSA4	AAATCGTGGCTTACAGCACCAACGCCGGGTTGAGGCGTGGATTTGACATCATACTTGAGATGTAGCCG
19	Stepan Chapaev	15	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
20	Evgeniya Nemenova	11	IDSSA2	ATCGCAACTGAATTAGCTTCGTCTAAGGGGTTCTGTAGCTGGCG
21	Artem Zhvakin	12	IDSSA1	GTAGTATAAGAATAAA
22	Mariya Alhasova	10	IDSSA1	TGGCTTGAACTTCTTCAGGGTGTTTGTTCATTGGGCATAGTTTGTAATC
23	Albert Pizhanskiy	14	IDSSA3	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
24	Vasiliy Mryakin	18	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
25	Stepan Chapaev	13	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGG
26	Evgeniya Nemenova	17	IDSSA5	CGATCTGTCACGTATGTATAAGACTAAAAAAAAAGCCCGTCTAAGGGGAGGGACCTCTCAA
27	Darya Bahterova	17	IDSSA1	GTGAGAAAAGGACGTATTTACGTATTAACGGAGCGAAATACCAAGATCGTGCCAACACTCTTGTCGTACGGCGAGGT
28	Artem Zhvakin	15	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
29	Viktoriya Gubernieva	10	IDSSA4	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
30	Oleg Buzinov	11	IDSSA3	GGCGAAGGAAAGGCAGGTGTTTACCCAGCTCCAGGTGAGTAAG
31	Mariya Alhasova	14	IDSSA1	ATACACCATCGCG
32	Darya Bahterova	17	IDSSA1	ATTGGGCTCGGAGCGCCACCTCTCGTTCCTTCTGTCGATCTAGGTGTATCCGCAGAGG
33	Mariya Alhasova	13	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
34	Albert Pizhanskiy	10	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
35	Ivan Predkov	16	IDSSA2	GGGTAAACAGCGTTTGCCCCACCCCCTCAAC
36	Evgeniya Nemenova	14	IDSSA4	CGCTTACTCCTTCACGGGA
37	Viktoriya Gubernieva	13	IDSSA3	CAGTAGGTGTTAGGATCGGCCCTTATAAAGCGTCCCTCAGTCGATGCAGATAGTGATAGAAATCACTGACGTAGTC
38	Oleg Buzinov	12	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
39	Vasiliy Mryakin	11	IDSSA3	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
40	Alina Shirantaeva	16	IDSSA4	CCCCCCCCCCCCCC
41	Stepan Chapaev	15	IDSSA5	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
42	Evgeniya Nemenova	13	IDSSA2	GGGGGGGGGGGGGGGGGGGGGGGGGGGGG
43	Anton Velmezov	10	IDSSA2	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
44	Viktoriya Gubernieva	11	IDSSA1	GGGGGGGGGGG
45	Viktoriya Gubernieva	10	IDSSA4	TTTTTTTTTTTTTT
46	Stepan Chapaev	13	IDSSA4	TGTCCGGCAAGGTTTAGCCCTAAGTCGCCGTAGTCGTAAGAGCATGGCGACGTCTCCTTTGCTCGGTGATTAAGCTCGT
47	Ivan Predkov	15	IDSSA5	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
48	Stepan Chapaev	15	IDSSA4	CCGAGTCCAGTCCCAGTGTTCACCGAGTCGCCATCATGAAACTTAGTGATGGTTCG
49	Ivan Predkov	18	IDSSA5	GGCGGTTAGAAGGTCATGGCCTTTCAACAAAGGCCAGGCTCGATCTAGCCATTACGTCAAAGTACACGCGACTCGTTTGGGCTTGGGTCAGC
50	Darya Bahterova	17	IDSSA5	TGTGACTAACCAACTGAGACGCTCTGTGGCGGGTACCTCGGGTTGGCCAGTAACTGACCATAATCTCTGTTGTGTT
