ID	Name	Hour(hour)	Machine	Seq
0	Alina Shirantaeva	18	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
1	Arkadiy Presnetsov	18	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
2	Vitaliy Protaskin	13	IDSSA4	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
3	Arkadiy Presnetsov	12	IDSSA4	GTGACTGAGCCCATGCTGC
4	Vasiliy Mryakin	18	IDSSA1	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
5	Ivan Predkov	10	IDSSA1	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
6	Viktoriya Gubernieva	13	IDSSA4	CTAGAGCCCCTCACGGAAGCGCGCCGTGCACCGGGAGCAAAGGTAACGGAAGAATCGACTCGACCCCCGTCTCCGGTCCAGTCGAA
7	Darya Bahterova	15	IDSSA2	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
8	Oleg Buzinov	16	IDSSA5	CCTAAAGTCTGAGGCGTGTC
9	Alina Shirantaeva	12	IDSSA5	CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
10	Oleg Buzinov	11	IDSSA3	TACTCAACCACAGAAAAGAATCTAGCTGATG
11	Anton Velmezov	17	IDSSA1	TAGTTAATTGACGCTAGGTAAAGTCACAACATAATGGGTTCAACAAGCGGGGTGGAAAAGATGGGCTCCGGAAGATACAGTACATTGGATGTC
12	Mariya Alhasova	13	IDSSA2	AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
13	Stepan Chapaev	10	IDSSA5	ATTTATCCGCTTCGGCAGCGCCGCGGACATAAAAAT
14	Stepan Chapaev	18	IDSSA3	TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
15	Vasiliy Mryakin	14	IDSSA3	CCCCCCCCCCCCCCCCCCCCCCCCCCC
16	Vasiliy Mryakin	18	IDSSA5	CCTCATACTTAATCCTACTAAGCGCTTTTTGCGCCAACACCACTCCTTG
17	Lybov Radykova	12	IDSSA4	ACCATAGCTTCGCTCCCTGAGCCGATTCCTATAACCAACTTGCCACTAAACAGGGCCTCCTG
18	Darya Bahterova	10	IDSSA5	ATGCGAAGGGACGGTTATGTCAGAGAGTAAACTCTTGACT
19	Albert Pizhanskiy	14	IDSSA1	GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
20	Ivan Predkov	16	IDSSA4	CTAATGAGGTGCCTTTGGCCTGACTTTGTCGTCGACAAAGGTCTGGCGATTGACTCCGATGGCCCCCACAACTTAGCTCGCGG
